<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="head_align">
      
      <div class="back-button" (click)="nav_back()">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </div>
      
      <p class="text"><b>Notification</b></p>
        <div class="img" >
          <b><ion-icon name="funnel-outline"></ion-icon></b>
        </div>

    </div>

  </ion-toolbar>

</ion-header>
 
<ion-content>
  
 <!-- Notification data -->
 <ion-row>
  <ion-col size="12" size-md="4" *ngFor="let data of notifications">

    <div class="user_img m-2">
      <img src="{{this.data.user_img}}" alt="">
    </div>

    <div class="m-2">
      <p class="title m-1"><b>{{this.data.notify_title}}</b></p>
      <p class="subtitle m-1">{{this.data.notify_des}}</p>
      <p class="subtitle m-1"><b>view it</b></p>
    </div>

    <div class="location_img">
      <img src="{{this.data.location_img}}" alt="">
    </div>

  </ion-col>
</ion-row>

</ion-content>
