<ion-content>

  <div class="main_content_div">


    <div *ngIf="tabID == 1">
     
      <!-- header -->
      <ion-row class="header">
        <ion-col size="1.8">
          <div class="back-button" (click)="go_back()">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="8.2">
          <p class="text"><b>Create Activity</b></p>
        </ion-col>
        <ion-col size="1.8">
          <p class="text"><b></b></p>
        </ion-col>
      </ion-row>

      <!-- indicator bullets -->
      <div class="stepper_div">
        <div [ngClass]="tabID == 1 ? 'round_div_completed' : 'round_div_uncomplete'"></div>
  
        <div [ngClass]="tabID == 2 ? 'round_div_completed' : 'round_div_uncomplete'"></div>
      </div>

      <!-- Name of activity -->
      <ion-row class="input-text">
        <p class="input"><b>Name of Activity</b></p>
      </ion-row>
      <ion-input  [(ngModel)]="activityData.activity_name"></ion-input>

      <!-- Activity location -->
      <ion-row class="input-text">
        <p class="input" disabled="true" ><b> Location</b></p>
      </ion-row>
      <ion-input [disabled]="true" [(ngModel)]="activityData.location" placeholder="Select Location">
        <ion-button mode="ios" id="open-modal" (click)="openModal()">
          <ion-icon name="location-outline"></ion-icon>
        </ion-button></ion-input>
      <!-- activity description -->
      <ion-row class="input-text">
        <p class="input"><b> Short Description</b></p>
      </ion-row>
      <ion-input class="input-description" [(ngModel)]="activityData.description"></ion-input>

      <!-- Number od attendes -->
      <ion-row class="input-text">
        <p class="input"><b>Max number of attendance</b></p>
      </ion-row>
      <ion-input [(ngModel)]="activityData.max_atendes"></ion-input>

      <ion-row style="max-width: 330px;margin: auto;">
        <ion-col size="5">
          <p style="font-size: 12px;"><b>Activity as private</b></p>
        </ion-col>
        <ion-col size="7" style="text-align: end;">
          <ion-toggle mode="ios" [enableOnOffLabels]="true" color="primary" style="margin: 4px;" value={{this.Togglevaluee}} (ionChange)="changeToggle($event, data)"></ion-toggle>
        </ion-col>
      </ion-row>

      <!-- <ion-row style="width: 330px;margin: auto;display: flex;align-items: center;">
        <ion-icon name="information-circle-outline"></ion-icon>
        <p style="font-size: 10px;margin: 0px 2px ;">Lorem ipsum dolor sit amet, consectetur Consequuntur.
        </p>
      </ion-row> -->

      <!-- next button -->
      <ion-list>
        <ion-button expand="block" shape="round" (click)="presentLoading();tabID = 2">
          Next
        </ion-button>
      </ion-list>




    </div>



    <div *ngIf="tabID == 2">

      <!-- header  -->
      <ion-row class="header">
        <ion-col size="1.8">
          <div class="back-button" (click)="go_form_one()">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="8.2">
          <p class="text"><b>Create Activity</b></p>
        </ion-col>
        <ion-col size="1.8">
          <p class="text"><b></b></p>
        </ion-col>
      </ion-row>
       <!-- indicator bullets -->
      <div class="stepper_div">
        <div [ngClass]="tabID == 1 ? 'round_div_completed' : 'round_div_uncomplete'"></div>
  
        <div [ngClass]="tabID == 2 ? 'round_div_completed' : 'round_div_uncomplete'"></div>
      </div>


      <!-- Activity range -->
      <ion-row class="input-text">
        <p class="input"><b>Social Range of Activity</b></p>
      </ion-row>
      <ion-input placeholder="20m" type="number" [(ngModel)]="activityData.social_range"></ion-input>

      <!-- Activity date -->
      <ion-row class="input-text">
        <p class="input"><b>start date/Time</b></p>
      </ion-row>
      <ion-input type="date" [(ngModel)]="activityData.date">  <p style="margin: 5px;">set the date of activity</p> </ion-input>

     
      <ion-row class="start">
         <!-- Activity start time -->
        <ion-col size="12">
          <ion-input type="time" [(ngModel)]="activityData.start_time">  <p style="margin: 5px;">Start TIme</p> </ion-input>  
        </ion-col>
        
        <!-- Activity end time -->
        <ion-col size="12">
          <ion-input type="time" [(ngModel)]="activityData.end_time">  <p style="margin: 5px;">End Time</p> </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="input-text3">
        <p class="upload"><b>upload a picture</b></p>
      </ion-row>
      
      <!-- upload location image -->
      <ion-row class="upload-pic">
        <ion-button (click)="capture_img()">upload</ion-button>
      </ion-row>


      <!-- data sumbit button -->
      <ion-button expand="block" shape="round" (click)="submit_activity_data()">
        <span>Create</span>
      </ion-button>

    </div>


  </div>
</ion-content>