<ion-content>
  <ion-row class="header">
    <ion-col size="1.8">
      <div class="back-button" (click)="go_home()">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8.2">
      <p class="text"><b>Chat</b></p>
    </ion-col>
    <ion-col size="1.8"></ion-col>
  </ion-row>

  <!-- list of user -->
  <ion-list >
    <ion-item lines="none" *ngFor="let user of Allusers"  (click)="show_chat(user)">
      <ion-avatar slot="start" class="avatar">
        <img src="{{user.img}}" class="img">
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>
        <p>{{user.msg}}</p>
      </ion-label>
      <ion-note slot="end">
        {{user.time}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>