.header{
    margin-top: 35px;
}
.back-button{
    border-radius: 100%;
    box-shadow: 2px 3px 5px 5px whitesmoke;
    margin-left: 15px;
    height: 33px;
    width: 33px;
}
.text{
    margin: 7px;
    text-align: center;
    font-size: 18px;
}
img{
    border: 2px solid #F39200;
    border-radius: 100%;
    padding: 1px;

}