<ion-content>
  <ion-list>
    <ion-row class="img">
      <img src="../../assets/WhatsApp_Image_2022-05-10_at_8.12 2.png" alt="">
    </ion-row>
    <h1><b>Activity App</b></h1>
    <h1 class="text"><b>Let’s Get Some Real</b></h1>
    <h1><b> Socializing!</b></h1>

    <ion-row>
      <ion-row class="button">
        <ion-col size="3">
          <img class="logo" src="../../assets/002-facebook.png" alt="">
        </ion-col>
        <ion-col size="8.5">
          <h5>continue with facebook</h5>
        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row>
      <ion-row class="button2">
        <ion-col size="3">
          <img class="logo" src="../../assets/apple-logo 2.png" alt="">
        </ion-col>
        <ion-col size="8.5">
          <h5>continue with Apple</h5>
        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row>
      <ion-row class="button2">
        <ion-col size="3">
          <img class="logo" src="../../assets/google 2.png" alt="">
        </ion-col>
        <ion-col size="8.5">
          <h5>continue with google</h5>
        </ion-col>
      </ion-row>
    </ion-row>
    <p>By signing up you agree with our Terms and
      Privacy Policy. Without Cookies policy.</p>

  </ion-list>
</ion-content>