<ion-content>
  <ion-list>
    
    <!-- Company Logo and title -->
    <ion-row class="img">
      <img src="../../assets/WhatsApp_Image_2022-05-10_at_8.12 2.png" alt="">
      <h1 class="title"><b>Activity App</b></h1>
    </ion-row>
    
    <!-- sub_title -->
    <h1 class="sub_title"><b>Let’s Get Some Real <br> Socializing! </b></h1>

    <ion-row>
      <!-- login with facebook -->
      <ion-button mode="ios" class="FB_button" [routerLink]="['/location']" >
        <img slot="start" class="btn_logo" src="../../assets/002-facebook.png" alt="">
        <h5>Continue with Facebook</h5>
      </ion-button>

      <!-- login with apple -->
      <ion-button mode="ios" class="Google_Apple">
        <img slot="start" class="btn_logo" src="../../assets/apple-logo 2.png" alt="">
        <h5>Continue with Apple</h5>
      </ion-button>

      <!-- login with google-->
      <ion-button mode="ios" class="Google_Apple" (click)="googleLogin()">
        <img slot="start" class="btn_logo" src="../../assets/google 2.png" alt="">
        <h5>Continue with Google</h5>
      </ion-button>
    </ion-row>
 
    <!-- terms and policy -->
    <ion-item lines="none">
      <p>By signing up you agree with our Terms and 
        Privacy Policy. Without Cookies policy.</p>
    </ion-item>

  </ion-list>
</ion-content>