<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title slot="start">
        Social Calender
      </ion-title>
      <ion-icon slot="end" name="search"></ion-icon>
      <ion-icon slot="end" name="ellipsis-vertical" size="large"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <!-- Segment -->
  <ion-segment [(ngModel)]="selectTabs" mode="ios">
    <ion-segment-button value="going">
      <ion-label>Going ({{this.activities_going.length}})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="may_be_going">
      <ion-label>May be Going ({{this.activities_may_be_going.length}})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="you_created">
      <ion-label>You Created ({{this.activities_you_created.length}})</ion-label>
    </ion-segment-button>
  </ion-segment>
 
</ion-header>

<ion-content>

  <!-- Activities on going -->
  <div *ngIf =" selectTabs ==  'going' " >
    <ion-row>
      <ion-col size="12" size-md="5" size-lg="6" *ngFor="let data of activities_going" (click)="going()">

        <div class="user_img m-2">
          <img src="{{this.data.user_img}}" alt="">
        </div>

        <div class="m-2">
          <p class="title m-1"><b>{{this.data.activity_title}}</b></p>
          <p class="subtitle m-1">{{this.data.activity_des}}</p>
          <p class="subtitle m-1"><b>view it</b></p>
        </div>

        <div class="location_img">
          <img src="{{this.data.location_img}}" alt="">
        </div>

      </ion-col>
    </ion-row>
  </div> 

  <!-- Activities  may be going -->
  <div *ngIf =" selectTabs ==  'may_be_going' " >
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let data of  activities_may_be_going" (click)="may_be_going()">

        <div class="user_img m-2">
          <img src="{{this.data.user_img}}" alt="">
        </div>

        <div class="m-2">
          <p class="title m-1"><b>{{this.data.activity_title}}</b></p>
          <p class="subtitle m-1">{{this.data.activity_des}}</p>
          <p class="subtitle m-1"><b>view it</b></p>
        </div>

        <div class="location_img">
          <img src="{{this.data.location_img}}" alt="">
        </div>

      </ion-col>
    </ion-row>
  </div> 

  <!-- Activities you created -->
  <div *ngIf =" selectTabs ==  'you_created' " >
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let data of activities_you_created">

        <div class="user_img m-2">
          <img src="{{this.data.user_img}}" alt="">
        </div>

        <div class="m-2">
          <p class="title m-1"><b>{{this.data.activity_title}}</b></p>
          <p class="subtitle m-1">{{this.data.activity_des}}</p>
          <p class="subtitle m-1"><b>view it</b></p>
        </div>

        <div class="location_img">
          <img src="{{this.data.location_img}}" alt="">
        </div>

      </ion-col>
    </ion-row>
  </div> 

</ion-content>