<!-- Head -->
<ion-header>
  <ion-toolbar>

    <div class="head_align">
      <div class="head_align_left">

        <img src="../../assets/WhatsApp_Image_2022-05-10_at_8.12 3.png" alt="">

        <p> 312 Street, USA</p>

      </div>
      <div class="head_align_right">
        <ion-icon (click)="notification()" name="notifications-outline" class="icon"></ion-icon>
        <div class="img" (click)="profile()" >
          <img class="img2" src="{{this.Profile}}" alt="">
        </div>

      </div>
    </div>

  </ion-toolbar>

</ion-header>

<ion-content  [ngClass]="selectTabs == 'map' ? 'my_class1' : 'my_class2'">

  <!-- Segment -->
  <ion-segment [(ngModel)]="selectTabs" mode="ios" value="map" (ionChange)="createMap()">
    <ion-segment-button value="map">
      <ion-label>Map</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-label>List</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Map Segment -->
  <ion-list class="map-container" >

    <!-- Map -->
    <div class="map" #map></div>

  </ion-list>

  <!-- List Segment -->
  <div *ngIf="selectTabs == 'list' " style=" --ion-background-color: white;">

    <!-- List data -->
    <ion-row>
      <ion-col size="12" size-md="5" *ngFor="let data of notificationsActivity" (click)="show_details(data)">

        <div class="user_img">
          <img class="userimg" src="{{this.data.profile_img}}" alt="">
        </div>

        <div class="m-2">
          <p class="title m-1"><b>{{this.data.activity_name}}</b></p>
          <p class="subtitle m-1 short_des">{{this.data.description}}</p>
          <p class="subtitle m-1" (click)="show_details(data)"><b>view it</b></p>
        </div>

        <div class="location_img">
          <img class="a" src="{{this.data.a_image}}" alt="">
        </div>

      </ion-col>
    </ion-row>
  </div>

</ion-content>
