<ion-header>
  <ion-toolbar>

    <div class="head_align">
      <div class="head_align_left">
        <ion-avatar lines="none" slot="start" class="back-button" (click)="go_back()">
          <ion-icon class="black" name="chevron-back-outline" size="large"></ion-icon>
        </ion-avatar>
      </div>
      <ion-input placeholder="Search here" [(ngModel)]="filterTerm"></ion-input>
      <div class="head_align_right">
        <ion-button>
          <ion-icon class="white" name="search"></ion-icon>
        </ion-button>
        <ion-button (click)="apply_filter()">
          <ion-icon class="white" name="funnel"></ion-icon>
        </ion-button>
      </div>
    </div>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" size-md="5" *ngFor="let data of  activitys | filter: filterTerm" (click)="show_details()">

      <div class="user_img m-2">
        <img src="{{data.profile_img}}" alt="">
      </div>

      <div class="m-2">
        <p class="title m-1"><b>{{data.activity_name}}</b></p>
        <p class="subtitle m-1 short_des">{{data.description}}</p>
        <p class="subtitle m-1"><b>view it</b></p>
      </div>

      <div class="location_img">
        <img class="a" src="{{data.a_image}}" alt="">
      </div>

    </ion-col>
  </ion-row>
</ion-content>