

<ion-content>
  <ion-row class="header">
    <ion-col size="1.8">
      <div class="back-button" (click)="nav_back()"> 
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8.4">
      <p class="text"><b>Vollyball in the beach</b></p>
    </ion-col>
   
  </ion-row>
  <img src="../../assets/Rectangle 12942.png" alt="" class="image">

 
    <div class="head_align">
      <div class="head_align_left">

        <ion-icon name="location-outline" size="large"></ion-icon>

        <p> 312 Street, USA</p>

      </div>
      <div class="head_align_right">
        Within 20Km
      </div>
    </div>
    <div class="div2">
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed massa dui
       enim et enim tortor. Et amet hac tellus ut pretium, dolor. Eget orci q
       uis arcu, mauris. Id tellus a cras tellus cursus viverra urna nullam. 
       Feugiat tempor eget aliquet dui. Tellus sollicitudin vitae ut volutpat
       , nisl blandit nisi, sed nibh. Donec nulla nunc facilisis elit</p>
       <p><b>Number Of Atendees Allowed</b></p>
       <h5><b>45</b></h5>
       <ion-row>
        <ion-col size="6" class="div3">Start Time</ion-col>
        <ion-col size="6" class="div3">End Time</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="coltime">
          <div class="div4">10</div>
          <div class="div4">00</div>
        </ion-col>
        <ion-col size="6" class="coltime">
          <div class="div4">15</div>
          <div class="div4">00</div>
        </ion-col>
      </ion-row>
      </div>
      <ion-item>
        <ion-button>I am Going</ion-button>
        <ion-button>Maybe Going</ion-button>
      </ion-item>
  

</ion-content>
