<ion-content>

  <!-- see -->
  <div *ngIf="this.type === true ">

    <ion-row class="header">
      <ion-col size="1.8">
        <div class="back-button" (click)="nav_back()"> 
          <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="8.4">
        <p class="text"><b>Profile</b></p>
      </ion-col>
      <ion-col size="1.8">
        <p class="text" (click)="allow()"><b>Edit</b></p>
      </ion-col>
    </ion-row>
 
     <!-- user image -->
    <ion-avatar class="avatar">
      <img src="../../assets/profile - 1.png" alt="">
    </ion-avatar>


    <!-- user name and Bio -->
    <h1 class="name"><b>William Jones</b></h1>
    <p class="text2">Keep enjoying more and more!</p>

    <!-- social range -->
    <ion-row class="range">
      <ion-col size="8">
        <p>social range</p>
      </ion-col>
      <ion-col size="4" class="col2">
        <!-- social range value -->
        <p><b>200m</b></p>
      </ion-col>
    </ion-row>

    <ion-row class="activity">
      <ion-col size="9">
        <p><b>Favourite activities</b></p>
      </ion-col>
      <ion-col size="3">
        <p>See All</p>
      </ion-col>
    </ion-row>

    <!-- favorite activities -->
    <ion-row class="view">
      <ion-col size="12" size-md="4" *ngFor="let data of favourite">

        <div class="user_img m-2">
          <img src="{{this.data.user_img}}" alt="">
        </div>

        <div class="m-2">
          <p class="title m-1"><b>{{this.data.fav_title}}</b></p>
          <p class="subtitle m-1">{{this.data.fav_des}}</p>
          <p class="subtitle m-1"><b>view it</b></p>
        </div>

        <div class="location_img">
          <img src="{{this.data.location_img}}" alt="">
        </div>

      </ion-col>
    </ion-row>

    <!-- refer a friend -->
    <ion-row class="refer_logut" (click)="refer()">

      <ion-icon class="icon" name="arrow-undo" size="large"></ion-icon>

      <div>
        <p>Refer a friend</p>
      </div>

      <ion-icon class="icon" name="chevron-forward" size="large"></ion-icon>

    </ion-row>

    <!-- Log out -->
    <ion-row class="refer_logut" (click)="log_out()">

      <ion-icon class="icon" name="log-out" size="large"></ion-icon>


      <div>
        <p>Log out</p>
      </div>


      <ion-icon class="icon" name="chevron-forward" size="large"></ion-icon>


    </ion-row>


  </div>


  <!-- Edit -->
  <div *ngIf="this.type === false ">
    <ion-header class="ion-no-border">
      <ion-toolbar>
  
          <div slot="start" class="back-button" (click)="allow()">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
          </div>
          <div>
            <p class="text"><b>Edit Profile</b></p>
          </div>

          <div slot="end" class="w-1"></div>

      </ion-toolbar>

    </ion-header>

    <!-- get  -->
    <ion-avatar class="avatar">
      <img src="../../assets/profile - 1.png" alt="">
    </ion-avatar>
    <!-- Name -->
    <ion-row class="input_title">
      <p class="input1"><b>Name</b></p>
    </ion-row>
    <!-- Enter Name -->
    <ion-input type="text" placeholder="William" [(ngModel)]="this.profile_data.user_name"></ion-input>

    <!-- Bio -->
    <ion-row class="input_title">
      <p class="input1"><b>Bio</b></p>
    </ion-row>
    <!-- enter Bio -->
    <ion-input type="text" placeholder="Keep enjoying more!" [(ngModel)]="this.profile_data.user_bio"></ion-input>

    <!-- distance -->
    <ion-row class="input_title">
      <p  class="input1"><b>Socialize Distance</b></p>
    </ion-row>
    <!-- enter distance -->
    <ion-input type="text" placeholder="200m" [(ngModel)]="this.profile_data.socialize_dis" ></ion-input>

    <!-- range -->
    <ion-row class="input_title">
      <p class="input2"><b>set between 100m and 30km</b></p>
    </ion-row>

    <!-- Submit button -->
    <ion-button shape="round" expand="full" (click)="submit_profile_data()">
      <b>Save</b>
    </ion-button>

  </div>



</ion-content>