.header{
    margin-top: 35px;
}
.back-button{
    border-radius: 100%;
    box-shadow: 2px 3px 5px 5px whitesmoke;
    margin-left: 15px;
    height: 33px;
    width: 33px;
}
.text{
    margin: 0px;
    text-align: center;
    font-size: 18px;
}
.avatar{
     height: 118px;
    width:  118px;
     margin: 35px auto 0px auto;
}
.name{
    text-align: center;
    font-size: 18px;
    margin: 15px 0px 0px 0px;
}
.text2{
    text-align: center;
    font-size: 15px;
    margin: 8px 0px 0px 0px;
    
}
.range{
    height: 64px;
    max-width: 330px;
    margin: auto;
    margin-top: 33px;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 19px whitesmoke;
}
.col1{
    margin-left: 17px;
}
.col2{
    text-align: center;
}
.activity{
    max-width: 340px;
    margin: auto;
    margin-top: 25px;
}
.text3
{
    margin: 0px;
    font-size: 12px;
}
.text4{
    margin: 0px;
    font-size: 9px;
}
.view{
    margin: 34px auto 0px auto;
    box-shadow: 0px 25px 42px 5px whitesmoke;
    height: 99px;
    max-width: 382px; 
}
.refer{
    height: 60px;
    max-width: 363px;
    margin: 33px auto 0px auto;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 19px whitesmoke;
}
.icon{
    margin-top: 6px;
}
.logout{
    height: 60px;
    max-width: 363px;
    margin: 20px auto 0px auto;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 19px whitesmoke;
}