<ion-content>
  <ion-row class="header">
    <ion-col size="1.8">
      <div class="back-button">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8.4">
      <p class="text"><b>profile</b></p>
    </ion-col>
    <ion-col size="1.8">
      <p class="text"><b>Edit</b></p>
    </ion-col>
  </ion-row>

  <ion-avatar class="avatar">
    <img src="../../assets/profile - 1.png" alt="">
  </ion-avatar>

  <h1 class="name"><b>William Jones</b></h1>
  <p class="text2">Keep enjoying more and more!</p>

  <ion-row class="range">
    <ion-col size="8">
      <p class="col1">social range</p>
    </ion-col>
    <ion-col size="4" class="col2">
      <p><b>200m</b></p>
    </ion-col>
  </ion-row>

  <ion-row class="activity">
    <ion-col size="9">
      <p><b>Favourite activities</b></p>
    </ion-col>
    <ion-col size="3">
      <p>See All</p>
    </ion-col>
  </ion-row>

  <ion-row class="view">
    <ion-col size="2">
      <img src="../../assets/Rectangle 142.png" alt="">
    </ion-col>
    <ion-col size="7">
      <p class="text3"><b>Swimming Together</b></p>
      <p class="text4">Lets swimming together near a beach and play a volly ball with each other   .</p>
      <p ><b>view it</b></p>
    </ion-col>
    <ion-col size="3">
      <img src="../../assets/Rectangle 149.png" alt="">
    </ion-col>
  </ion-row>

  <ion-row class="refer">
    <ion-col size="1.5">
  <ion-icon class="icon" name="arrow-undo" size="large"></ion-icon>
    </ion-col>
    <ion-col size="7">
      <p class="col1">Refer a friend</p>
    </ion-col>
    <ion-col size="3.5" class="col2">
      <ion-icon class="icon" name="chevron-forward" size="large"></ion-icon>
    </ion-col>
  </ion-row>
  
  <ion-row class="logout">
    <ion-col size="1.5">
  <ion-icon class="icon"   name="log-out" size="large"></ion-icon>
    </ion-col>
    <ion-col size="7">
      <p class="col1">Logout</p>
    </ion-col>
    <ion-col size="3.5" class="col2">
      <ion-icon class="icon" name="chevron-forward" size="large"></ion-icon>
    </ion-col>

  </ion-row>
  
</ion-content>