<ion-content>
  <!-- <app-view-profile></app-view-profile> -->
  <ion-row class="header">
    <ion-col size="1.8">
      <div class="back-button">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8.2">
      <p class="text"><b>Edit Profile</b></p>
    </ion-col>
    <ion-col size="1.8">
      <p class="text"><b></b></p>
    </ion-col>
  </ion-row>
  <ion-avatar class="avatar">
    <img src="../../assets/profile - 1.png" alt="">
  </ion-avatar>
  <ion-row class="input-text">
    <p class="input"><b>Name</b></p>
  </ion-row>
  <ion-input></ion-input>
  <ion-row class="input-text">
    <p class="input1"><b>Bio</b></p>
  </ion-row>
  <ion-input></ion-input>
  <ion-row class="input-text">
    <p class="input1"><b>socialize Distance</b></p>
  </ion-row>
  <ion-input></ion-input>
  <ion-row class="input-text1">
    <p class="input2"><b>set between 100m and 30km</b></p>
  </ion-row>
  <ion-button shape="round" expand="full">
    <b>Save</b>
  </ion-button>

</ion-content>
 
